---
import TechCard from "./TechCard.astro";
const {
  class: classNames,
  jobTitle,
  employer,
  details,
  websiteLink,
  websiteLinkTitle,
  dates,
  technologies,
  frameworks,
} = Astro.props;
---

<div class={classNames}>
  <div class="bg-white rounded-full border-2 border-white self-start w-96">
    <!-- TODO: Source this image from Astro props -->
    <img src="/amazon_icon.png" />
  </div>
  <div class="border-2 border-white rounded-xl p-6">
    <div class="flex justify-between mb-6">
      <div>
        <h1 class="font-display text-2xl mb-3">
          {employer}
          <span class="italic text-xl text-grey-400">({dates})</span>
        </h1>
        <div class="flex gap-3 items-center">
          <h2 class="font-display text-xl">{jobTitle}</h2>
          <div class="font-display text-white text-sm">
            {
              websiteLink && (
                <a
                  href={websiteLink}
                  target="_blank"
                  class="block rounded-xl bg-grey-500 px-3 py-1.5 hover:bg-white hover:text-grey-800"
                >
                  {websiteLinkTitle}
                  <i class="fa-solid fa-arrow-up-right-from-square fa-sm" />
                </a>
              )
            }
          </div>
        </div>
      </div>
      <div class="flex gap-3 mb-3">
        <!-- Languages -->
        {
          technologies.map((tech, i) => (
            <TechCard gapClass="gap-0" paddingClass="p-3", widthClass="w-12" heightClass="h-12" logo={tech.logo} />
          ))
        }
        <!-- Frameworks -->
        {
          frameworks.map((framework, i) => (
            <TechCard
              gapClass="gap-0"
              paddingClass="p-3"
              widthClass="w-12"
              heightClass="h-12"
              logo={framework.logo}
            />
          ))
        }
      </div>
    </div>
    <div class="border-white border-l-2 pl-3">
      <p id="details" class="leading-7 pr-12">
        {details}
      </p>
    </div>
  </div>
</div>
