---
/*
* Experience.astro
* Props:
* - classNames: classes which should be applied to returned div
*/

import TechCard from "./TechCard.astro";

interface Props {
  jobTitle: string;
  employer: string;
  details: string;
  dates: string;
  technologies: {logo: string, name: string}[]
  frameworks: {logo: string, name: string}[]
  class?: string;
  websiteLink?: string;
  websiteLinkTitle?: string;
}

const {
  class: classNames,
  jobTitle,
  employer,
  details,
  websiteLink,
  websiteLinkTitle,
  dates,
  technologies,
  frameworks,
} = Astro.props;
---

<div class={classNames}>
  <div class="rounded-full w-32 h-32 hidden lg:block">
    <!-- TODO: Source this image from Astro props -->
    <img src="/amazon_icon.png" />
  </div>
  <div class="flex-1">
    <div class="flex justify-between mb-6">
      <div>
        <h1 class="font-display text-xl mb-3">
          {employer}
          <span class="italic text-lg text-grey-400">({dates})</span>
        </h1>
        <div class="flex gap-3 items-center">
          <h2 class="font-display text-lg">{jobTitle}</h2>
          <div class="font-display text-white text-sm">
            {
              websiteLink && (
                <a
                  href={websiteLink}
                  target="_blank"
                  class="block rounded-xl bg-grey-500 px-3 py-1.5 hover:bg-white hover:text-grey-800"
                >
                  {websiteLinkTitle}
                  <i class="fa-solid fa-arrow-up-right-from-square fa-sm" />
                </a>
              )
            }
          </div>
        </div>
      </div>
      <div class="hidden gap-2 mb-3 lg:flex">
        <!-- Languages -->
        {
          technologies.map((tech, i) => (
            <TechCard gapClass="gap-0" paddingClass="p-2", widthClass="w-12" heightClass="h-12" logo={tech.logo} />
          ))
        }
        <!-- Frameworks -->
        {
          frameworks.map((framework, i) => (
            <TechCard
              gapClass="gap-0"
              paddingClass="p-2"
              widthClass="w-12"
              heightClass="h-12"
              logo={framework.logo}
            />
          ))
        }
      </div>
    </div>
    <div class="">
      <p id="details" class="leading-7">
        {details}
      </p>
    </div>
  </div>
</div>
