---
import ArxivButton from './ArxivButton.astro';
import TechCard from './TechCard.astro';


interface Props {
  id: string;
  title: string;
  details: string;
  websiteLink?: string;
  websiteLinkTitle?: string;
  class?: string;
  authors?: string[];
  authorWebsiteLinks?: string[];
  technologies?: { name: string, logo: string }[];
  frameworks?: { name: string, logo: string }[];
  projectImageFiles?: string[];
  githubLink?: string;
  developer?: string[];
}

const {
  id,
  title,
  authors,
  details,
  class: classNames,
  websiteLink,
  websiteLinkTitle,
  authorWebsiteLinks,
  technologies,
  frameworks,
  developer,
  projectImageFiles,
  githubLink
} = Astro.props;

const totalAuthors = authors?.length;
---
<div class:list={[classNames, ""]}>
  <div class="flex-1 gap-6 max-w-128 hidden md:block">
    {
      projectImageFiles.map((image) => (
        <div class="">
          <img src={image} class="object-contain" alt="project image"/>
        </div>
      ))
    }
  </div>
  <div class="self-start flex-1">
    <div class="flex justify-between mb-3 items-center">
      <h1 class="font-display text-xl lg:text-2xl">
        {title}
      </h1>
      <div class="flex gap-2">
        <!-- Languages -->
        {
          technologies.map((tech) => (
            <TechCard gapClass="gap-0" paddingClass="p-2", widthClass="w-12" heightClass="h-12" flexClasses=" " logo={tech.logo} />
          ))
        }
        <!-- Frameworks -->
        {
          frameworks.map((framework) => (
            <TechCard
              gapClass="gap-0"
              paddingClass="p-2"
              widthClass="w-12"
              heightClass="h-12"
              flexClasses=" "
              logo={framework.logo}
            />
          ))
        }
      </div>
    </div>
    <div class="flex">
      <div class="flex-shrink">
        <p id={`${id}-details`} class="leading-7 mb-3 lg:text-xl">
          {details}
        </p>
        <p id={`${id}-details`} class="leading-7 mb-6 lg:text-xl">
          Co-developed with: <a href={developer[1]} class="text-lightBlue-600 hover:no-underline hover:text-lightBlue-400 underline decoration-2">{developer[0]}</a>
        </p>
        <div class="flex gap-6">
          <ArxivButton title="Website" arxivLink="https://tranquil-starship-92a3ed.netlify.app/" />
          <ArxivButton title="GitHub" arxivLink="https://github.com/etdavila10/arxiv-sandbox" />
        </div>
      </div>
    </div>
  </div>
</div>
