---
import TechCard from './TechCard.astro';


interface Props {
  id: string;
  title: string;
  details: string;
  websiteLink?: string;
  websiteLinkTitle?: string;
  class?: string;
  authors?: string[];
  authorWebsiteLinks?: string[];
  technologies?: { name: string, logo: string }[];
  frameworks?: { name: string, logo: string }[];
  projectImageFiles?: string[];
  githubLink?: string;
}

const {
  id,
  title,
  authors,
  details,
  class: classNames,
  websiteLink,
  websiteLinkTitle,
  authorWebsiteLinks,
  technologies,
  frameworks,
  projectImageFiles,
  githubLink
} = Astro.props;

const totalAuthors = authors?.length;
---
<div class:list={[classNames, ""]}>
  <div class="p-6 self-start">
    <div class="flex justify-between mb-6">
      <div class="flex gap-3">
        <h1 class="font-display text-2xl">
          {
            websiteLink && (
              <a
                href={websiteLink}
                target="_blank"
                class="block rounded-xl bg-grey-500 px-3 py-1.5 hover:bg-white hover:text-grey-800"
              >
                {title}
                <i class="fa-solid fa-arrow-up-right-from-square fa-sm" />
              </a>
            )
          }
        </h1>
      </div>
      <div class="flex gap-2">
        <!-- Languages -->
        {
          technologies.map((tech) => (
            <TechCard gapClass="gap-0" paddingClass="p-2", widthClass="w-12" heightClass="h-12" logo={tech.logo} />
          ))
        }
        <!-- Frameworks -->
        {
          frameworks.map((framework) => (
            <TechCard
              gapClass="gap-0"
              paddingClass="p-2"
              widthClass="w-12"
              heightClass="h-12"
              logo={framework.logo}
            />
          ))
        }
      </div>
    </div>
    <div class="flex mb-6">
      <div class="border-white border-l-2 pl-3 self-start flex-grow">
        <p id={`${id}-details`} class="leading-7 pr-12">
          {details}
        </p>
      </div>
    </div>
    <div class="flex gap-3">
      {
        projectImageFiles.map((image) => (
          <div class="bg-white rounded-xl border-2 border-white self-start">
            <img src={image} class="rounded-xl" alt="project image"/>
          </div>
        ))
      }
    </div>
  </div>
</div>
